---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Rassulzhan Turganov</div>
    <div class="text-3xl py-3 font-bold">
      Frontend Developer and Entrepreneur
    </div>
    <div class="py-2 flex-col space-y-2">
      <text class="text-lg">
        I specialize in building complex web applications using React, Vue,
        Svelte.
      </text>
      <br />
      <text class="text-lg">
        I develop multiple platform mobile applications using
        Ionic/Cordova/Capcitor and React Native.
      </text>
      <br />
      <text class="text-lg">
        I specialize in creating modern, visually appealing, and SEO-optimized
        corporate websites with Astro.buid and Strapi CMS
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://instagram.com/rasyokin" target="_blank">
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="dreambody.ai"
    img="/dreambody.png"
    desc="Participating in developemnt of AI-Powered Realistic Body Transformations app. Web, iOS, Android"
    url="https://dreambody.ai"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="smm.art"
    img="/smmart.png"
    desc="SMMart - new AI-system generates requested texts and pictures in a click"
    url="https://www.smm.art"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Мой Банк | Kaspi Gold"
    img="/post_img.webp"
    desc="SPA приложение как "
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
